---
eleventyNavigation:
  key: "{{ genreData.genre }}"
  parent: Genres
eleventyComputed:
  title: "{{ genreData.genre }} | Music Collection"
pagination:
  data: collections.genres
  size: 1
  alias: genreData
permalink: "/music-collection/genres/{{ genreData.genre | accentSlug }}.html"
---

{% include "partials/breadcrumb.njk" %}

<div class="collection__page-title">
  <h1>{{ genreData.genre }}</h1>
</div>

<section>
  <header class="collection__header">
    <h2>{{ genreData.releases.length }} release{{ 's' if genreData.releases.length !== 1 }}</h2>
  </header>
  <ul role="list" class="collection__list grid" data-layout="thirds">
    {% set sortedReleases = genreData.releases | sort(attribute='artist') %}
    {% for release in sortedReleases %}
      <li class="collection__item">
        <a
          href="/music-collection/releases/{{ release.title | accentSlug }}-{{ release.artist | accentSlug }}-{{ release.release_id }}.html"
          class="switcher"
        >
          <img
            class="collection__img"
            {{ 'loading=eager' if loop.index <=4 }}
            src="../img/{{ release.title | accentSlug }}-{{ release.artist | accentSlug }}.jpg"
            sizes="(min-width: 1740px) 280px, (min-width: 1460px) 16.92vw, (min-width: 1380px) calc(33.33vw - 157px), (min-width: 1180px) calc(22.78vw - 30px), (min-width: 880px) calc(30.36vw - 26px), (min-width: 780px) calc(46.25vw - 27px), (min-width: 580px) calc(11.67vw - 15px), (min-width: 380px) calc(23.33vw - 13px), calc(6.67vw + 47px)"
            alt="{{ release.title }}"
          />
          <div class="collection__meta stack">
            <h2 class="collection__release">
              {{ release.title }} <span class="format">({{ release.format }})</span>
            </h2>
            <p class="collection__artist">{{ release.artist }}</p>
            <p class="collection__description">
              {% for format in release.formats %}
                {% if format.name == release.format %}
                  {{ release.format }}
                  - {{ format.descriptions | join(", ") }}{% if format.text %}, {{ format.text }}{% endif %}
                {% endif %}
              {% endfor %}
            </p>
          </div>
          <svg
            width="36"
            height="36"
            viewBox="-6 -6 36 36"
            class="collection__action action icon-stroke"
            aria-hidden="true"
          >
            <use xlink:href="#icon-chevron-right"></use>
          </svg>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>

<nav aria-label="pagination" class="region repel">
  {% if pagination.href.previous %}
    {% set previousGenre = collections.genres[pagination.pageNumber - 1] %}
    <a href="{{ pagination.href.previous }}" class="icon-link prev">
      <span>Previous genre:</span> {{ previousGenre.genre }}
    </a>
  {% endif %}
  {% if pagination.href.next %}
    {% set nextGenre = collections.genres[pagination.pageNumber + 1] %}
    <a href="{{ pagination.href.next }}" class="icon-link next">
      <span>Next genre:</span> {{ nextGenre.genre }}
    </a>
  {% endif %}
</nav>
