---
title: Jason White - v2
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/global.css" />
  </head>

  <body>
    <div class="wrapper">
      {{ content | safe }}

      <h2>Now playing</h2>
      <div class="spotify"></div>
    </div>
  </body>

  <script src="/js/index.js" type="module"></script>
</html>
