---
title: Jason White - v2
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
  </head>

  <body>
    {{ content | safe }}

    <h2>Now playing</h2>
    <div class="spotify"></div>
  </body>

  <script src="/js/index.js" type="module"></script>
</html>
