---
eleventyNavigation:
  key: music-years
  title: By Release Year
  parent: Music Collection
eleventyComputed:
  title: "{{ eleventyNavigation.title }} | {{ eleventyNavigation.parent }}"
permalink: "/music-collection/years/index.html"
---

{% include "partials/breadcrumb.njk" %}

<div class="index__page-title">
  <h1>Years</h1>
</div>
<ul role="list" class="index__list">
  {% for year in collections.releaseYears | sort(false, false, 'year') | reverse %}
    {% if year.year and year.releases %}
      <li class="index__item">
        <a href="/music-collection/years/{{ year.year }}.html">
          <div class="index__meta repel">
            <h2 class="index__heading">{{ year.year }}</h2>
            <p class="index__secondary">
              <span class="counter">{{ year.releases.length }}</span>
              release{{ 's' if year.releases.length !== 1 }}
            </p>
          </div>
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
