---
eleventyNavigation:
  key: "music-year-{{ yearData.year }}"
  title: "{{ yearData.year }}"
  parent: music-years
eleventyComputed:
  title: "Released in {{ yearData.year }} | Music Collection"
pagination:
  data: collections.releaseYears
  size: 1
  alias: yearData
permalink: "/music-collection/years/{{ yearData.year }}.html"
---

{% include "partials/breadcrumb.njk" %}

<section class="collection">
  <header class="collection__page-title">
    <h2>{{ yearData.releases.length }} release{{ 's' if yearData.releases.length !== 1 }}</h2>
  </header>
  <ul role="list" class="collection__list grid" data-layout="thirds">
    {% for release in yearData.releases | sortReleasesByArtist %}
      <li class="collection__item">
        <a
          href="/music-collection/releases/{{ release.title | accentSlug }}-{{ release.artist | accentSlug }}-{{ release.release_id }}.html"
          class="switcher"
        >
          <img
            loading="eager"
            src="../img/{{ release.title | accentSlug }}-{{ release.artist | accentSlug }}.jpg"
            sizes="(min-width: 1740px) 280px, (min-width: 1460px) 16.92vw, (min-width: 1380px) calc(33.33vw - 157px), (min-width: 1180px) calc(22.78vw - 30px), (min-width: 880px) calc(30.36vw - 26px), (min-width: 780px) calc(46.25vw - 27px), (min-width: 580px) calc(11.67vw - 15px), calc(23.46vw - 13px)"
            alt="{{ release.title }}"
            class="collection__img"
          />
          <div class="collection__meta stack">
            <h2 class="collection__release">{{ release.title }}</h2>
            <p class="collection__artist">{{ release.artist }}</p>
            <p class="collection__description">
              {% for format in release.formats %}
                {% if format.name == release.format %}
                  <strong>{{ release.format }}</strong>
                  - {{ format.descriptions | join(", ") }}{% if format.text %}, {{ format.text }}{% endif %}
                {% endif %}
              {% endfor %}
            </p>
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>
<nav aria-label="pagination" class="region repel">
  {% if pagination.href.previous %}
    {% set previousYear = collections.releaseYears[pagination.pageNumber - 1] %}
    <a href="{{ pagination.href.previous }}" class="icon-link prev">
      <span>Previous year:</span> {{ previousYear.year }}
    </a>
  {% endif %}
  {% if pagination.href.next %}
    {% set nextYear = collections.releaseYears[pagination.pageNumber + 1] %}
    <a href="{{ pagination.href.next }}" class="icon-link next">
      <span>Next year:</span> {{ nextYear.year }}
    </a>
  {% endif %}
</nav>
