---
eleventyComputed:
  title: "{{ eleventyNavigation.key }}"
permalink: "/music-collection/index.html"
---

<details class="surface" open>
  <summary>
    <h2 class="title">Track Record</h2>
  </summary>
  <div class="stats__grid">

    {% set sortedArtists = collections.artists | sort(true, false, attribute='releases.length') %}
    <table class="stats__table">
      <caption>Top 3 Artists</caption>
      <thead class="visually-hidden">
        <tr>
          <th scope="col">Artist</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        {% for artistData in sortedArtists %}
        <tr>
          <th scope="row"><a href="/music-collection/artists/{{ artistData.artist | slugify }}.html">{{ artistData.artist }}</a></th>
          <td><span class="counter">{{ artistData.releases.length }}</span></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% set genreCounts = {} %}
    {% for genreItem in collections.genres %}
    {% set genreCounts = genreCounts | setAttribute(genreItem.genre, genreItem.releases.length) %}
    {% endfor %}
    {% set sortedGenres = genreCounts | dictsort | sort(true, false, attribute='1') | slice(0, 3) %}
    <table class="stats__table">
      <caption>Top 3 Genres</caption>
      <thead class="visually-hidden">
        <tr>
          <th scope="col">Genre</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        {% for genre, count in sortedGenres %}
        <tr>
          <th scope="row"><a href="/music-collection/genres/{{ genre | slugify }}.html">{{ genre }}</a></th>
          <td><span class="counter">{{ count }}</span></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% set sortedYears = collections.releaseYears | sort(true, false, attribute='releases.length') | slice(0, 3) %}
    <table class="stats__table">
      <caption>Top 3 Years</caption>
      <thead class="visually-hidden">
        <tr>
          <th scope="col">Year</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        {% for yearData in sortedYears %}
        <tr>
          <th scope="row"><a href="/music-collection/years/{{ yearData.year }}.html">{{ yearData.year }}</a></th>
          <td><span class="counter">{{ yearData.releases.length }}</span></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% set sortedFormats = collections.formats | sort(true, false, attribute='releases.length') | slice(0, 3) %}
    <table class="stats__table">
      <caption>Top 3 Formats</caption>
      <thead class="visually-hidden">
        <tr>
          <th scope="col">Format</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        {% for formatData in sortedFormats %}
        <tr>
          <th scope="row"><a href="/music-collection/formats/{{ formatData.format | slugify }}.html">{{ formatData.format }}</a></th>
          <td><span class="counter">{{ formatData.releases.length }}</span></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</details>

{% set favoriteCount = 0 %}
{% for release in collections.releases %}
  {% if release.favorite %}
    {% set favoriteCount = favoriteCount + 1 %}
  {% endif %}
{% endfor %}

<section>
  <header class="row">
    <h2 class="title">favorites</h2>
    <p class="meta"><span class="counter">{{ favoriteCount }}</span> release{{ 's' if favoriteCount !== 1 }}</p>
  </header>
  <ul role="list" class="collection__grid">
    {% for release in collections.releases %}
    {% if release.favorite %}
    <li>
      <a href="/music-collection/releases/{{ release.title | slugify }}-{{ release.artist | slugify }}-{{ release.format | slugify }}.html" class="collection__item surface">
        <img
          {{ 'loading=eager' if loop.index <= 4 }}
          src="img/{{ release.title | slugify }}-{{ release.artist | slugify }}.jpg"
          sizes="(min-width: 1740px) 280px, (min-width: 1460px) 16.92vw, (min-width: 1380px) calc(33.33vw - 157px), (min-width: 1180px) calc(22.78vw - 30px), (min-width: 880px) calc(30.36vw - 26px), (min-width: 780px) calc(46.25vw - 27px), (min-width: 580px) calc(11.67vw - 15px), calc(22.31vw - 7px)"
          alt="{{ release.title }}"
          class="collection__image">
        <div class="collection__details">
          <h2 class="title">{{ release.title }}</h2>
          <p class="meta">{{ release.artist }}</p>
          <div class="badge"><svg width="14" height="14" viewBox="0 0 24 24" class="icon-stroke" aria-hidden="true">
            <use xlink:href="#icon-heart"></use>
          </svg> favorite</div>
        </div>
        <svg width="36" height="36" viewBox="-6 -6 36 36" class="collection__action action icon-stroke" aria-hidden="true">
          <use xlink:href="#icon-chevron-right"></use>
        </svg>
      </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</section>

<hr>

{% for formatData in sortedFormats %}
<section>
  <header class="row">
    <h2 class="title">{{ formatData.format }}</h2>
    <p class="meta"><span class="counter">{{ formatData.releases.length }}</span> release{{ 's' if formatData.releases.length !== 1 }}</p>
  </header>
  <ul role="list" class="collection__grid">
    {% set sortedReleases = formatData.releases | sort(attribute='artist') %}
    {% for release in sortedReleases | slice(0, 10) %}
    <li>
      <a href="/music-collection/releases/{{ release.title | slugify }}-{{ release.artist | slugify }}-{{ release.format | slugify }}.html"
        class="collection__item surface">
        <img
          {{ 'loading=eager' if loop.index <= 4 }}
          src="img/{{ release.title | slugify }}-{{ release.artist | slugify }}.jpg"
          sizes="(min-width: 1740px) 280px, (min-width: 1460px) 16.92vw, (min-width: 1380px) calc(33.33vw - 157px), (min-width: 1180px) calc(22.78vw - 30px), (min-width: 880px) calc(30.36vw - 26px), (min-width: 780px) calc(46.25vw - 27px), (min-width: 580px) calc(11.67vw - 15px), calc(22.31vw - 7px)"
          alt="{{ release.title }}"
          class="collection__image">
        <div class="collection__details">
          <h2 class="title">{{ release.title }}</h2>
          <p class="meta">{{ release.artist }}</p>
          {% if release.favorite %}
          <div class="badge"><svg width="16" height="16" viewBox="0 0 24 24" class="icon-stroke" aria-hidden="true">
            <use xlink:href="#icon-heart"></use>
          </svg> favorite</div>
          {% endif %}
        </div>
        <svg width="36" height="36" viewBox="-6 -6 36 36" class="collection__action action icon-stroke"
          aria-hidden="true">
          <use xlink:href="#icon-chevron-right"></use>
        </svg>
      </a>
    </li>
    {% endfor %}
  </ul>
  {% if formatData.releases.length > 10 %}
  <p><a href="/music-collection/formats/{{ formatData.format | slugify }}.html" class="icon-link">View all {{ formatData.releases.length }} {{ formatData.format }} releases</a></p>
  {% endif %}
</section>

{% endfor %}
