---
eleventyComputed:
  title: "{{ artistData.artist }} | Music Collection"
pagination:
  data: collections.artists
  size: 1
  alias: artistData
permalink: "/music-collection/artists/{{ artistData.artist | slugify }}.html"
---

{% set formats = artistData.releases | groupby("format") %}
{% for format, releases in formats %}
<section>
  <header class="row">
    <h2 class="title">{{ format }}</h2>
    <p class="meta"><span class="counter">{{ releases.length }}</span> release{{ 's' if releases.length !== 1 }}</p>
  </header>
  <ul role="list" class="collection__grid">
    {% set sortedReleases = releases | sort(attribute='title') %}
    {% for release in sortedReleases %}
    <li>
      <a href="/music-collection/releases/{{ release.title | slugify }}-{{ release.artist | slugify }}-{{ release.format | slugify }}.html" class="collection__item surface">
        <img
          {{ 'loading=eager' if loop.index <= 4 }}
          src="../img/{{ release.title | slugify }}-{{ release.artist | slugify }}.jpg"
          sizes="(min-width: 1740px) 305px, (min-width: 1380px) calc(18.82vw - 19px), (min-width: 380px) calc(23.27vw - 12px), calc(6.67vw + 47px)"
          alt="{{ release.title }}"
          class="collection__image">
        <div class="collection__details">
          <h2 class="title">{{ release.title }}</h2>
          {% if release.favorite %}
          <div class="badge"><svg width="14" height="14" viewBox="0 0 24 24" class="icon-stroke" aria-hidden="true">
            <use xlink:href="#icon-heart"></use>
          </svg> favorite</div>
          {% endif %}
        </div>
        <svg width="36" height="36" viewBox="-6 -6 36 36" class="collection__action action icon-stroke"
          aria-hidden="true">
          <use xlink:href="#icon-chevron-right"></use>
        </svg>
      </a>
    </li>
    {% endfor %}
  </ul>
</section>
{% if not loop.last %}<hr>{% endif %}
{% endfor %}
