---
eleventyNavigation:
  key: Artists
  parent: Music Collection
eleventyComputed:
  title: "{{ eleventyNavigation.key }} | {{ eleventyNavigation.parent }}"
permalink: "/music-collection/artists/index.html"
---

{% include "partials/breadcrumb.njk" %}

<div class="index__page-title">
  <h1>Artists</h1>
</div>

{% set groupedItems = collections.artists | sort(attribute='artist') | groupItems('artist') %}

<nav aria-label="alphabetical" class="alphabetical-index">
  <ul role="list" class="cluster">
    {% for group in groupedItems %}
      <li><a href="#{{ group[0] | lower }}">{{ group[0] }}</a></li>
    {% endfor %}
  </ul>
</nav>

{% for group in groupedItems %}
  <section class="index">
    <header class="index__header">
      <h2 id="{{ group[0] | lower }}" class="title">{{ group[0] }}</h2>
    </header>
    <ul role="list" class="index__list">
      {% for artist in group[1] %}
        <li class="index__item">
          <a href="/music-collection/artists/{{ artist.artist | accentSlug }}.html">
            <div class="index__meta repel">
              <h3 class="index__heading">{{ artist.artist }}</h3>
              <p class="index__secondary">
                <span class="counter">{{ artist.releases.length }}</span>
                release{{ 's' if artist.releases.length !== 1 }}
              </p>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endfor %}
