---
eleventyComputed:
  title: "{{ formatData.format }} | Music Collection"
pagination:
  data: collections.formats
  size: 1
  alias: formatData
permalink: "/music-collection/formats/{{ formatData.format | slugify }}.html"
---

<section>
  <header>
    <h2 class="title">{{ formatData.releases.length }} release{{ 's' if formatData.releases.length !== 1 }}</h2>
  </header>
  <ul role="list" class="collection__grid">
    {% set sortedReleases = formatData.releases | sort(attribute='artist') %}
    {% for release in sortedReleases %}
    <li>
      <a href="/music-collection/releases/{{ release.title | slugify }}-{{ release.artist | slugify }}-{{ release.format | slugify }}.html"
        class="collection__item surface">
        <img {{ 'loading=eager' if loop.index <=4 }}
          src="../img/{{ release.title | slugify }}-{{ release.artist | slugify }}.jpg" alt="{{ release.title }}"
          class="collection__image">
        <div class="collection__details">
          <h2 class="title">{{ release.title }}</h2>
          <p class="meta">{{ release.artist }}</p>
          {% if release.favorite %}
          <div class="badge"><svg width="14" height="14" viewBox="0 0 24 24" class="icon-stroke" aria-hidden="true">
            <use xlink:href="#icon-heart"></use>
          </svg> favorite</div>
          {% endif %}
        </div>
        <svg width="36" height="36" viewBox="-6 -6 36 36" class="collection__action action icon-stroke"
          aria-hidden="true">
          <use xlink:href="#icon-chevron-right"></use>
        </svg>
      </a>
    </li>
    {% endfor %}
  </ul>
</section>
